<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Eigene CSS -->
    <!--<link rel="stylesheet" href="/css/style.css"> -->
    <!-- HTMX Script -->
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>

<body>
    <div class="container text-center mt-5">
        <!-- Profilbild von Asrudi Usmanov -->
        <div class="profile-image mt-4">
            <img src="/images/test.jpeg" alt="Asrudi Usmanov" class="rounded-circle" width="150" height="150">
        </div>
        <h1>Willkommen!</h1>
        <h2>Ich bin Asrudi, Dein Mann für Küchen</h2>

        <!-- Button zum Anzeigen des Widgets -->
        <button id="showCalendly" class="btn btn-primary mt-4">Termin buchen</button>

        <!-- Calendly inline widget (zunächst ausgeblendet) -->
        <div id="calendlyWidget" class="calendly-inline-widget mt-4" data-url="https://calendly.com/lomaliimadaev/30min"
            style="min-width:320px;height:700px; display:none;"></div>

        <!-- Calendly Script -->
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    </div>

    <!-- Bereich, in dem der Inhalt dynamisch geladen wird -->
    <div id="content" class="container mt-5">
        <!-- Der Inhalt von /appointment wird hier geladen -->
    </div>

    <script>
        // JavaScript, um das Widget beim Klicken des Buttons anzuzeigen
        document.getElementById('showCalendly').addEventListener('click', function () {
            document.getElementById('calendlyWidget').style.display = 'block';
            this.style.display = 'none'; // Versteckt den Button nach dem Klicken
        });
    </script>
</body>

</html>